@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Custom variables
// Colors

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 86%,  53%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default

// Typography
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

// TODO: OLD variables
//$primary: $cyan;
//$primary-invert: $white-bis;
//
//$body-background-color: $white;
//

$body-line-height: 2.25 !default
$title-line-height: 1.25 !default
$subtitle-line-height: 1.5 !default
$content-heading-line-height: 1.25 !default

$content-blockquote-background-color: transparent;
$content-blockquote-border-left: 5px solid $white-ter;
$content-blockquote-padding: 0.75em 1em;
blockquote p { line-height: 1.25rem; }

// Base
html, .html {
  background-color: whitesmoke;
}

body {
  background-color: $white;
}

// Links
a {
  transition: 250ms all ease-in-out;
}

footer, .footer {
  a {
    color: $grey;

    &:hover {
      color: $black-bis;
    }
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-opacity-0 { opacity: 0 !important; }
.has-opacity-15 { opacity: 0.15 !important; }
.has-opacity-25 { opacity: 0.25 !important; }
.has-opacity-50 { opacity: 0.50 !important; }
.has-opacity-75 { opacity: 0.75 !important; }
.has-opacity-85 { opacity: 0.85 !important; }
.has-opacity-1 { opacity: 1 !important; }

.margin-0 { margin: 0 !important; }

.margin-top-0 { margin-top: 0 !important;}
.margin-top-025 { margin-top: 0.25rem !important; }
.margin-top-050 { margin-top: 0.5rem !important; }
.margin-top-075 { margin-top: 0.75rem !important; }
.margin-top-1 { margin-top: 1rem !important; }

.margin-bottom-0 { margin-bottom: 0 !important; }
.margin-bottom-025 { margin-bottom: 0.25rem !important; }
.margin-bottom-050 { margin-bottom: 0.5rem !important; }
.margin-bottom-075 { margin-bottom: 0.75rem !important; }
.margin-bottom-1 { margin-bottom: 1rem !important; }
.margin-bottom-2 { margin-bottom: 2rem !important; }

.padding-0 { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.padding-2rem { padding: 2rem !important; }
.padding-3rem { padding: 3rem !important; }

.padding-top-0 { padding-top: 0 !important;}
.padding-top-025 { padding-top: 0.25rem !important; }
.padding-top-050 { padding-top: 0.5rem !important; }
.padding-top-075 { padding-top: 0.75rem !important; }
.padding-top-1 { padding-top: 1rem !important; }

.padding-bottom-0 { padding-bottom: 0 !important; }
.padding-bottom-025 { padding-bottom: 0.25rem !important; }
.padding-bottom-050 { padding-bottom: 0.5rem !important; }
.padding-bottom-075 { padding-bottom: 0.75rem !important; }
.padding-bottom-1 { padding-bottom: 1rem !important; }

.background-transparent {
  background-color: transparent !important;
}

.greyscale {
  filter: grayscale(100%);
}

// Add new color variables to the color map.
$semi-light: darken(hsl(0, 0%, 96%), 5%);
$semi-light-invert: findColorInvert($semi-light);

@import "~bulma/sass/utilities/derived-variables";
$coral: hsl(16, 100%, 66%);
$coral-invert: findColorInvert($coral);
$firebrick: hsl(0, 68%, 42%);
$firebrick-invert: findColorInvert($firebrick);
$lightgrey: hsl(0, 0%, 83%);
$lightgrey-invert: findColorInvert($lightgrey);
$rebeccapurple: hsl(270, 50%, 40%);
$rebeccapurple-invert: findColorInvert($rebeccapurple);
$seagreen: hsl(146, 50%, 36%);
$seagreen-invert: findColorInvert($seagreen);
$slateblue: hsl(248, 53%, 58%);
$slateblue-invert: findColorInvert($slateblue);
$slategray: hsl(210, 13%, 50%);
$slategray-invert: findColorInvert($slategray);
$teal: hsl(180, 100%, 25%);
$teal-invert: findColorInvert($teal);
$addColors: (
  "coral": ($coral, $coral-invert),
  "firebrick": ($firebrick, $firebrick-invert),
  "seagreen": ($seagreen, $seagreen-invert),
  "slateblue": ($slateblue, $slateblue-invert),
  "slategray": ($slategray, $slategray-invert),
  "rebeccapurple": ($rebeccapurple, $rebeccapurple-invert),
  "teal": ($teal, $teal-invert),
  "semi-light": ($semi-light, $semi-light-invert)
);
$colors: map-merge($colors, $addColors);

// Bulma Imports
@import "~bulma-helpers";
@import "~bulma";

////////////////////////////////////////////////////////////////
// Custom Component Styles
// Post Detail
.title {
  position: relative;

  a, span {
    vertical-align: middle;
  }

  a.prev, a.next {
    position: absolute;
    top: 25%; // TODO find a better way to do this
  }

  a.prev {
    left: -17px;
  }

  a.next {
    right: -17px;
  }
}

pre {
  line-height: 1;
}

.content {
  figure {
    background-color: #f8f8f8;
    padding: 0.5rem;
    margin: 0.5rem !important;

    &.is-pulled-left { margin-left: 0; margin-right: 1rem; }
    &.is-pulled-right { left: 1rem; margin-right: 0; }

    figcaption {
      border-top: 1px dotted #ddd;
      margin-top: 1rem;
      padding-top: 0.5rem;
    }
  }
}

.blog-featured-image{
  margin: 1rem 0;
}

.card {
  width: 100%;
  height: 100%;

  &.no-border {
    box-shadow: none;
  }

  .img {
    border: 1px inset #eee;
  }
}

a.card {
  display: inline-block;
}

.horizontal-card {
  flex-direction: row;
  //display: flex;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;

  .card-image {
    flex: 2;
    margin: 0;
  }

  .image {
     min-height: 100%;
  }

  .card-content {
    flex: 1;
  }

  &.is-right {
    flex-direction: row-reverse;
  }

	.card {
	  &.is-horizontal {

	    &.is-mobile {

      }
    }
  }
}

// Post Detail - Prev/Next
.prev-next-nav {
  .title {
    position: relative;

    a, span {
      vertical-align: middle;
    }

    a.prev, a.next {
      position: absolute;
      top: 0;
      line-height: 1.9rem;
    }

    a.prev {
      left: -17px;
    }

    a.next {
      right: -17px;
    }
  }
}
